<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="title" content="preact-test">
        <meta name="description" content="This is a simple web application to try the Preact library">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="canonical" href="https://simon-robertson.github.io/preact-test">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=block">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons&display=block">
        <link rel="stylesheet" href="index.css">
        <title>preact-test</title>
    </head>
    <body>
        <main class="application">
            <script defer src="index.js" type="application/javascript"></script>
        </main>
    </body>
</html>
